* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Colors */
  --clr-main: #4B8B3B  ;
  --clr-secondary: #8E735B ;
  --clr-accent: #C3B091  ;
  --clr-bg: #E6E0D4  ;
  --clr-highlight: #7D5C2A  ;

  

  /* Fonts */
  --font-fam-fancy: Georgia, 'Times New Roman', serif;
  --font-fam-normal: 'Helvetica Neue', Arial, sans-serif;
  /* Dimensions */
  --h-nav: 75px;
  --h-filter: 50px;


}

/* Components */

nav,
.filter {
  background: linear-gradient(135deg, #e6e0d40b, #e6e0d400);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--clr-accent);
}


body {
  min-height: 100lvh;
  width: 100lvw;

  position: relative;

  background-color: var(--clr-bg);
  font-family: var(--font-fam-normal);
}

/* Nav */
nav {
  font-family: var(--font-geist-mono);
  position: sticky;
  top: 0;
  z-index: 9;

  height: var(--h-nav);
  width: 100%;

  display: flex;

}

.title,
.links,
.user {
  height: var(--h-nav);
}

.title {
  padding: 25px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 40%;
  height: var(--h-nav);

  font-family: var(--font-fam-fancy);
  font-size: 1.9rem;
  color: var(--clr-main);
}
.links {
  width: 40% ;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0 12.5px;
    color: var(--clr-highlight);
    position: relative;

  }
  a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -5px;
    background-color: var(--clr-highlight);
    transform: scaleX(0);
    transition: 0.2s 0.2s ease-in;

  }
  a:hover:after {
    transform: scaleX(100%);
  }

}
.user {
  width: 20%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    position: absolute;
    top: calc( var(--h-nav) - 15px );
    right: 15px;
    z-index: 1;

    width: 200px;
    min-height: 0;

    border: 1px solid var(--clr-accent);
    border-radius: 4px;
    background-color: var(--clr-bg);

    overflow: hidden;

    > button {
      --p-l: 15px;
      position: relative;

      width: 100%;
      height: 7.5vh;

      background-color: transparent;
      border: 0;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: var(--p-l);

      font-family: var(--font-fam-normal);
      color: var(--clr-highlight);

      cursor: pointer;

    }
    > button:after {
      content: "";
      position: absolute;
      left: var(--p-l);
      bottom: 2px;

      width: calc( 100% - var(--p-l) - var(--p-l) );
      height: 2px;

      background-color: var(--clr-accent);

      transition: 300ms ease-in;
      transform-origin: left;
      transform: scaleX(0);

    }
    > button:hover:after {
      transform: scaleX(1);
    }
    input, select {
      border: 1px solid var(--clr-accent);
      background-color: var(--clr-bg);
      border-radius: 4px;
      color: var(--clr-highlight);
      height: 35px;
      padding: 4px;

    }
    > input {

      margin: 4px;
      width: calc( 100% - 8px );
      padding: 4px;
      overflow: hidden;
      background:
        linear-gradient(90deg, var(--clr-accent), var(--clr-accent)) left bottom/0 0.15em no-repeat,
        linear-gradient(90deg, var(--clr-bg), var(--clr-bg)) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, var(--clr-bg), var(--clr-bg)) left bottom/100% no-repeat;
      transition: background-size 0.3s ease;
    }
    > input:focus {
      border: none;
      outline: none;
      background-size: 100% 0.15em, 100% 0.1em, 100%;
    }

    section {
      
      padding: 4px;
      height: 400px;
      
      > div {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 150px;
        border-radius: 4px;
        border: 1px solid var(--clr-accent);

      }
      form {

        height: calc( 400px - 150px - 8px );
        width: 100%;

        > select {
          cursor: pointer;
        }
        > select:focus {
          border-color: var(--clr-accent); 
          outline: none; 
        }

        display: grid;
        grid-template-rows: 50px 50px 50px 50px 50px;
        grid-template-columns: 95px 95px;
        grid-template-areas: 
        "file-upload file-upload"
        "price stock"
        "gender age"
        "size clothing-type"
        "submit submit"
        ;
        input:focus {
          outline: none;
        }
        input::placeholder {
          padding-left: 4px;
        }
        input {
          padding: 4px;
          background:
          linear-gradient(90deg, var(--clr-accent), var(--clr-accent)) left bottom/0 0.15em no-repeat,
          linear-gradient(90deg, var(--clr-bg), var(--clr-bg)) left bottom/100% 0.15em no-repeat,
        }

        input:first-child {
          grid-area: file-upload;
        }
        input:nth-child(2) {
          grid-area: price;
        }
        input:nth-child(3) {
          grid-area: stock;
        }
        input:nth-child(4) {
          grid-area: gender;
        }
        select:first-child {
          grid-area: age;
        }
        select:nth-child(2) {
          grid-area: size;
        }
        select:nth-child(3) {
          grid-area: clothing-type;
        }
        button {
          border-radius: 4px;
          margin: 0 0 8px 0;

          display: flex;
          justify-content: center;
          align-items: center;

          grid-area: submit;

          font-family: var(--font-fam-normal);
          background-color: transparent;

        }
        button.open {
          border: 1px solid var(--clr-accent);

          cursor: pointer;

          color: var(--clr-highlight);

        }
        button.closed {
          border: 1px solid grey;

          color: grey;

        }
      }
    }
  }

  span {
    width: 25px;
    padding: 10px;

    .icons {
      color: var(--clr-highlight);
      cursor: pointer;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}


/* Loading */
.Loading {
  height: calc( 100lvh - var(--h-nav));
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

