* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Colors */
  --clr-main: #4B8B3B  ;
  --clr-secondary: #8E735B  ;
  --clr-accent: #C3B091  ;
  --clr-bg: #E6E0D4  ;
  --clr-highlight: #7D5C2A  ;

  /* Fonts */
  --font-fam-fancy: Georgia, 'Times New Roman', serif;
  --font-fam-normal: 'Helvetica Neue', Arial, sans-serif;
  /* Dimensions */
  --h-nav: 75px;
  --h-filter: 50px;


}

/* Components */

nav,
.filter {
  background: linear-gradient(135deg, #e6e0d40b, #e6e0d400);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--clr-accent);
}


body {
  min-height: 100lvh;
  width: 100lvw;

  position: relative;

  background-color: var(--clr-bg);
  font-family: var(--font-fam-normal);
}

/* Nav */
nav {
  position: sticky;
  top: 0;
  z-index: 9;

  height: var(--h-nav);
  width: 100%;

  display: flex;

}

.title,
.links,
.user {
  height: var(--h-nav);
}

.title {
  padding: 25px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 40%;
  height: var(--h-nav);

  font-family: var(--font-fam-fancy);
  font-size: 1.9rem;
  color: var(--clr-main);
}
.links {
  width: 40% ;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0 12.5px;
    color: var(--clr-highlight);
    position: relative;

  }
  a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -5px;
    background-color: var(--clr-highlight);
    transform: scaleX(0);
    transition: 0.2s 0.2s ease-in;

  }
  a:hover:after {
    transform: scaleX(100%);
  }

}
.user {
  width: 20%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    position: absolute;
    top: calc( var(--h-nav) - 15px );
    right: 15px;
    z-index: 1;

    width: 200px;
    min-height: 0;

    border: 1px solid var(--clr-accent);
    border-radius: 4px;
    background-color: var(--clr-bg);

    overflow: hidden;

    > button {
      --p-l: 15px;
      position: relative;

      width: 100%;
      height: 7.5vh;

      background-color: transparent;
      border: 0;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: var(--p-l);

      font-family: var(--font-fam-normal);
      color: var(--clr-highlight);

      cursor: pointer;

    }
    > button:after {
      content: "";
      position: absolute;
      left: var(--p-l);
      bottom: 2px;

      width: calc( 100% - var(--p-l) - var(--p-l) );
      height: 2px;

      background-color: var(--clr-accent);

      transition: 300ms ease-in;
      transform-origin: left;
      transform: scaleX(0);

    }
    > button:hover:after {
      transform: scaleX(1);
    }
    input, select {
      border: 1px solid var(--clr-accent);
      background-color: var(--clr-bg);
      border-radius: 4px;
      color: var(--clr-highlight);
      height: 35px;
      padding: 4px;

    }
    > input {

      margin: 4px;
      width: calc( 100% - 8px );
      padding: 4px;
      overflow: hidden;
      background:
        linear-gradient(90deg, var(--clr-accent), var(--clr-accent)) left bottom/0 0.15em no-repeat,
        linear-gradient(90deg, var(--clr-bg), var(--clr-bg)) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, var(--clr-bg), var(--clr-bg)) left bottom/100% no-repeat;
      transition: background-size 0.3s ease;
    }
    > input:focus {
      border: none;
      outline: none;
      background-size: 100% 0.15em, 100% 0.1em, 100%;
    }

    section {
      
      padding: 4px;
      height: 400px;
      
      > div {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 150px;
        border-radius: 4px;
        border: 1px solid var(--clr-accent);

      }
      form {

        height: calc( 400px - 150px - 8px );
        width: 100%;

        > select {
          cursor: pointer;
        }
        > select:focus {
          border-color: var(--clr-accent); 
          outline: none; 
        }

        display: grid;
        grid-template-rows: 50px 50px 50px 50px 50px;
        grid-template-columns: 95px 95px;
        grid-template-areas: 
        "file-upload file-upload"
        "price stock"
        "gender age"
        "size clothing-type"
        "submit submit"
        ;
        input:focus {
          outline: none;
        }
        input::placeholder {
          padding-left: 4px;
        }
        input {
          padding: 4px;
          background:
          linear-gradient(90deg, var(--clr-accent), var(--clr-accent)) left bottom/0 0.15em no-repeat,
          linear-gradient(90deg, var(--clr-bg), var(--clr-bg)) left bottom/100% 0.15em no-repeat,
        }

        input:first-child {
          grid-area: file-upload;
        }
        input:nth-child(2) {
          grid-area: price;
        }
        input:nth-child(3) {
          grid-area: stock;
        }
        input:nth-child(4) {
          grid-area: gender;
        }
        select:first-child {
          grid-area: age;
        }
        select:nth-child(2) {
          grid-area: size;
        }
        select:nth-child(3) {
          grid-area: clothing-type;
        }
        button {
          border-radius: 4px;
          margin: 0 0 8px 0;

          display: flex;
          justify-content: center;
          align-items: center;

          grid-area: submit;

          font-family: var(--font-fam-normal);
          background-color: transparent;

        }
        button.open {
          border: 1px solid var(--clr-accent);

          cursor: pointer;

          color: var(--clr-highlight);

        }
        button.closed {
          border: 1px solid grey;

          color: grey;

        }
      }
    }
  }

  span {
    width: 25px;
    padding: 10px;

    .icons {
      color: var(--clr-highlight);
      cursor: pointer;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

/* Home */
.home > section:first-child {
  height: calc( 100lvh - var(--h-nav) );
  width: 100%;

  position: relative;

  > span {
    position: absolute;
    right: 0;
  }
  > span:first-child {

    z-index: 1;
    top: -75px;
    background-color: #ab9364 ;

    width: 25%;
    height: 100lvh;

  }
  > span:nth-child(2) {
    z-index: 2;
    top: 10vh;
    background-color: #98793c ;

    width: 40%;
    height: 50lvh;
  }
  
  article {
    position: absolute;
    left: 50px;
    top: 20lvh;

    color: var(--clr-secondary);

    width: 30%;
    
    h1 {
      
      font-size: 2em;
      font-weight: 600;
      
      span {
        font-size: 2.5rem;
        font-weight: 900;
        font-family: var(--font-fam-fancy);
        color: var(--clr-main);
  
      }
    }

    p {
      font-size: 0.9rem;
      padding: 10px 0 0 0;
    }

  }
  .img-home {
    position: absolute;
    z-index: 3;
  }
  .img-home.one {
    width: 275px;
    top: 50px;
    right: 50px;
    height: 225px;
    
  }
  .img-home.two {
    top: 50px;
    right: calc( 275px + 75px );
    height: calc( 225px + 175px );
  }
  .img-home.three {
    top: calc( 225px + 75px );
    right: 50px;

    height: calc( 225px - 75px );
  }
}

.home > section:nth-child(2) {
  height: var(--h-nav);
  width: 100%;

  background-color: #ab9364 ;
  white-space: nowrap;
  overflow: hidden;

  > div {
    height: 100%;
    width: 100%;

    display: flex;

    > span{
      height: 100%;
      min-width: 3rem;
      max-width: 12rem;
      
      padding: 7.5px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--clr-highlight);

    }
    > span:nth-child(even) {
      font-size: 2.3rem;
      font-weight: 600;
    }
    > span:nth-child(odd) {
      font-size: 1.4rem;
      font-weight: 400;
    }
    > div {
      width: 25%;
    }

  }

}
.home > section:nth-child(3){
  min-height: calc( 100lvh - var(--h-nav) );
  width: 900px;
  
  padding: 1rem;
  margin: 0 auto;

  columns: 250px 3;
  column-gap: 1rem;
  position: relative;
  img {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/* Products */

.products {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--h-filter) 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar body"
  ;

  width: 100%;
  min-height: calc( 100lvh - var(--h-nav));

 > aside {
  grid-area: sidebar;

  position: sticky;
  top: var(--h-nav);


  width: 200px;
  height: calc(100lvh - var(--h-nav)); 
  border-right: 1px solid var(--clr-accent);
  transition: 300ms ease-in;

  > span,
  > section div span:first-child {
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--clr-accent);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
  }

  > span {
    position: absolute;
    top: 7.5px;
    right: 7.5px;

    cursor: pointer;
    color: var(--clr-highlight);
    svg {
      transition: 300ms ease-in;
    }
  }

  > section {
    position: absolute;

    border-top: 1px solid var(--clr-accent);

    top: calc( var(--h-filter) - 1px);

    min-height: 50lvh;
    width: 100%;

    overflow-x: hidden;
    text-wrap: nowrap;

    > div {
      color: var(--clr-highlight);
      display: flex;
      justify-content: flex-start;
      align-items: center;

      cursor: pointer;

      padding: 7.5px;

      span:first-child{
        flex-shrink: 0;
      }
      span:last-child {
        font-family: var(--font-fam-normal);
        padding: 0 7.5px;
        
        position: relative;
        
      }
      span:last-child:after {
        content: "";
        width: 100%;
        height: 2rem;
        border-top: 1px solid var(--clr-accent);
        border-bottom: 1px solid var(--clr-accent);

        position: absolute;
        top: -7.5px;
        left: 0;

        transition: 300ms ease-in;
        transform-origin: left;
        transform: scaleX(0);
      }
      span:last-child:hover:after {
        transform: scaleX(1);
      }
    }
  }

  }
  > aside.close {
    width: calc(15px + 2rem );

    > span svg {
      transform: rotate(-180deg);
    }

  }
  > .filter {
    grid-area: header;
    
    position: sticky;
    top: var(--h-nav);
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    padding: 15px;
    border-bottom: 1px solid var(--clr-accent);

    section {
      min-width: 200px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid var(--clr-accent);

      position: relative;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      overflow: hidden;

      span {
        color: var(--clr-highlight);
        cursor: pointer;
        width: 100px;
        height: 35px;

        display: flex;
        justify-content: center;
        align-items: center;

      }

    }
    section:after {
      content: "";

      position: absolute;
      left: var(--left);
      top: 0;
      z-index: -1;

      background-color: var(--clr-accent);
      width: 100px;
      height: 100%;

    }
    div button {
      border: 1px solid var(--clr-accent);
      outline: none;
      background-color: var(--clr-bg);
      border-radius: 4px;

      cursor: pointer;

      width: 35px;
      height: 35px;

      svg {
        font-size: 1.3rem;
        color: var(--clr-highlight);
      }

    }

  }
  > .content {
    grid-area: body;
    
    position: relative;
    
    padding: 9px;
    min-height: 10lvh;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 9px;

    .items {
      width: 225px;
      height: 250px;
      border: 1px solid var(--clr-accent);
      border-radius: 10px;
      position: relative;
  
      overflow: hidden;

      transition: width 150ms, height 150ms, transform 150ms;
      box-shadow: 5px 5px 5px #c3a6789c, 
      -5px -5px 5px #c3a67817;

      text-decoration: none;
      list-style-type: none;

      li:first-child {
        position: relative;
        width: 225px;
        height: 175px;

        transition: width 150ms, height 150ms, display 150ms;
      }
      li:nth-child(2) {
        width: 225px;
        height: 75px;

        position: relative;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        > div {
          position: absolute;

          padding: 2px;

          font-size: 0.8rem;

          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-wrap: nowrap;

          font-family: var(--font-fam-normal);
          color: var(--clr-highlight);

        }

        > div:first-child {
          grid-column: 1 / 4;
          grid-row: 1 / 3;
        }
        > div:nth-child(2) {
          grid-column: 6 / 11;
          grid-row: 1 / 3;
        }
        > div:nth-child(3) {
          grid-column: 1 / 4;
          grid-row: 4 / 6;
        }
        > div:nth-child(4) {
          grid-column: 6 / 11;
          grid-row: 4 / 6;
        }
        > div:nth-child(5) {
          grid-column: 1 / 4;
          grid-row: 7 / 8;
        }
        > div:nth-child(6) {
          grid-column: 6 / 11;
          grid-row: 7 / 8;
        }
      }
      li:last-child {
        position: absolute;
        z-index: 5;
        top: 5px;
        left: 5px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 999px;
          outline: none;
          cursor: pointer;
          border: 0px;
          width: 1.2rem;
          height: 1.2rem;
          background-color: var(--clr-bg);
        }
      }

    }
    .items:hover {
      width: 300px;  
      height: 350px;

      li:first-child {
        position: relative;
        width: 300px;
        height: 250px;
      }

      li:last-child {
        width: 300px;
        height: 100px;

      }
      

    }
    > div {
      position: sticky;

      display: flex;
      justify-content: center;
      align-items: center;

      font-family: var(--font-fam-normal);
      color: var(--clr-highlight);

      width: 100%;
      height: 25px;

      bottom: -300px;
      left: 0;
    }
  }
}





/* Loading */
.Loading {
  height: calc( 100lvh - var(--h-nav));
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

